<p
 style="color:rgb(54, 157, 236);margin-top:40px;font-size:15px;font-weight:bold;">Why chose us</p>
   <p style="font-size:25px;margin-top:10px;font-weight:bold">Welcome to starkwiz</p>
   <p style="margin:20px;">Starkwiz, the first Socio-enhanced Ed-Tech App made in India - Subtitled as “India’s Scholastic Digital Showcase” (ISDS).<br>
     Founded in 2020, Starkwiz has a unique concepts designed with multi combined platforms for students of CBSE & ICSE Board (Class 4 to 10).<br>
     This Platform supports <br>
     the School Students in every manner they actually need in their school life.<br>
      Starkwiz deliver quality based content of questions for each and every Test (Dynamo) prepared by India’s top most educators.</p>
