<div class="container">
  <div class="col">
     <h1>1230</h1>
     <p style = "color:cyan;font-size:25px;">Happy Students</p>
     <p style = "font-style:italic" >Starkwiz students are of CBSE & ICSE Board (Class 4 to 10) has joined a unique concepts designed with
        multi combined platforms.
        India’s first scholastic digital showcase where students are able to showcase their life’s best achievements and memories
        with upload
        photos and videos of -
         Starkwiz Extra Curricular performances
       .This App helps students channelize their talents in a more fruitful and healthy way to become social media influence.</p>

       <h1>1230</h1>
       <p style = "color:cyan;font-size:25px;">Happy Students</p>
       <p style = "font-style:italic">Starkwiz students are of CBSE & ICSE Board (Class 4 to 10) has joined a unique concepts designed with
          multi combined platforms.
          India’s first scholastic digital showcase where students are able to showcase their life’s best achievements and memories
          with upload
          photos and videos of -
           Starkwiz Extra Curricular performances
         .This App helps students channelize their talents in a more fruitful and healthy way to become social media influence.</p>

         <h1>1230</h1>
         <p style = "color:cyan;font-size:25px;">Happy Students</p>
         <p style = "font-style:italic">Starkwiz students are of CBSE & ICSE Board (Class 4 to 10) has joined a unique concepts designed with
            multi combined platforms.
            India’s first scholastic digital showcase where students are able to showcase their life’s best achievements and memories
            with upload
            photos and videos of -
             Starkwiz Extra Curricular performances
           .This App helps students channelize their talents in a more fruitful and healthy way to become social media influence.</p>
  </div>
</div>
