<div class="cwddescriptionsecond">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <p>Starkwiz, the first Socio-enhanced Ed-Tech App made in India - Subtitled as “India’s Scholastic Digital Showcase” (ISDS).<br>
    Founded in 2020, Starkwiz has a unique concepts designed with multi combined platforms for students of CBSE & ICSE Board (Class 4 to 10).<br>
    This Platform supports <br>
    the School Students in every manner they actually need in their school life.<br>
     Starkwiz deliver quality based content of questions for each and every Test (Dynamo) prepared by India’s top most educators.</p>
</div>
