<div class="container">
  <div class="col">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <p
       style="color:rgb(54, 157, 236);margin-top:40px;font-size:15px;font-weight:bold;">Contact Details</p>
        <p style="font-size:30px;margin-top:10px;font-weight:bold">Get in Touch</p>
        <p style="font-size:16px;">Have any query ? or want to know more ? <br>
        Contact us and we will be happy to help.</p>

        <i class="fa fa-map-marker" style="font-size:30px;color:rgb(54, 157, 236);"></i>
        <p style="font-size:20px;margin-top:10px;font-weight:bold">Our Address</p>
        <p style="font-weight:bold">D/352 , Koelnagar Rourkela , Odisha</p>

        <i class="fa fa-envelope" style="font-size:30px;color:rgb(54, 157, 236)"></i>
            <p style="font-size:20px;margin-top:10px;font-weight:bold">Email</p>
              <p style="font-weight:bold">Mail:<a href="#">info@lavniasiratns.com</a></p>

              <i class="fa fa-phone" style="font-size:30px;color:rgb(54, 157, 236)"></i>
                  <p style="font-size:20px;margin-top:10px;font-weight:bold">Contact</p>
                    <p style="font-weight:bold">Moblie:<a href="#">+91 01585581210</a></p>


                    <i class="fa fa-clock-o" style="font-size:30px;color:rgb(54, 157, 236)"></i>
                        <p style="font-size:20px;margin-top:10px;font-weight:bold">Office timings</p>
                          <p style="font-weight:bold">Monday to Staurday : 9 Am to 6 Pm IST</p>

  </div>
</div>
